# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Log files
*.log

# Configuration files (generated automatically)
model_config.json

# Environment
.env
.venv
venv/
env/

# other
src/chats/
models/
db/
data/
*.code-workspace
chunks.sqlite3
